# coding: utf-8

"""
    Isilon SDK

    Isilon SDK - Language bindings for the OneFS API  # noqa: E501

    OpenAPI spec version: 4
    Contact: sdk@isilon.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from isi_sdk_8_0_1.api_client import ApiClient


class IdResolutionApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_id_resolution_path(self, id_resolution_path_id, **kwargs):  # noqa: E501
        """get_id_resolution_path  # noqa: E501

        List lin to path mappings.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_id_resolution_path(id_resolution_path_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int id_resolution_path_id: List lin to path mappings. (required)
        :return: IdResolutionPaths
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_id_resolution_path_with_http_info(id_resolution_path_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_id_resolution_path_with_http_info(id_resolution_path_id, **kwargs)  # noqa: E501
            return data

    def get_id_resolution_path_with_http_info(self, id_resolution_path_id, **kwargs):  # noqa: E501
        """get_id_resolution_path  # noqa: E501

        List lin to path mappings.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_id_resolution_path_with_http_info(id_resolution_path_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int id_resolution_path_id: List lin to path mappings. (required)
        :return: IdResolutionPaths
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id_resolution_path_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_id_resolution_path" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id_resolution_path_id' is set
        if ('id_resolution_path_id' not in params or
                params['id_resolution_path_id'] is None):
            raise ValueError("Missing the required parameter `id_resolution_path_id` when calling `get_id_resolution_path`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id_resolution_path_id' in params:
            path_params['IdResolutionPathId'] = params['id_resolution_path_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/platform/4/id-resolution/paths/{IdResolutionPathId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='IdResolutionPaths',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_id_resolution_paths(self, **kwargs):  # noqa: E501
        """get_id_resolution_paths  # noqa: E501

        List lin to path mappings.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_id_resolution_paths(async=True)
        >>> result = thread.get()

        :param async bool
        :param str sort: The field that will be used for sorting.
        :param str lins: A comma separated list specifying the lins that will be mapped with a path. Only the lins specified in this list will be mapped.
        :param int limit: Return no more than this many results at once (see resume).
        :param str dir: The direction of the sort.
        :param str resume: Continue returning results from previous call using this token (token should come from the previous call, resume cannot be used with other options).
        :return: IdResolutionPathsExtended
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_id_resolution_paths_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_id_resolution_paths_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_id_resolution_paths_with_http_info(self, **kwargs):  # noqa: E501
        """get_id_resolution_paths  # noqa: E501

        List lin to path mappings.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_id_resolution_paths_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param str sort: The field that will be used for sorting.
        :param str lins: A comma separated list specifying the lins that will be mapped with a path. Only the lins specified in this list will be mapped.
        :param int limit: Return no more than this many results at once (see resume).
        :param str dir: The direction of the sort.
        :param str resume: Continue returning results from previous call using this token (token should come from the previous call, resume cannot be used with other options).
        :return: IdResolutionPathsExtended
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['sort', 'lins', 'limit', 'dir', 'resume']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_id_resolution_paths" % key
                )
            params[key] = val
        del params['kwargs']

        if 'limit' in params and params['limit'] < 1:  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `get_id_resolution_paths`, must be a value greater than or equal to `1`")  # noqa: E501
        collection_formats = {}

        path_params = {}

        query_params = []
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501
        if 'lins' in params:
            query_params.append(('lins', params['lins']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'dir' in params:
            query_params.append(('dir', params['dir']))  # noqa: E501
        if 'resume' in params:
            query_params.append(('resume', params['resume']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/platform/4/id-resolution/paths', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='IdResolutionPathsExtended',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
